/*font-family: 'IBM Plex Sans', sans-serif;*/

/*reset*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*configurações adicionais*/
.button {
  background: #4455DD;
  border-radius: 4px;
  color: white;
  box-shadow: 0px 1px 2px rgba(0,0,0,.30);
  padding: 10px 15px;
}

/*header*/
.header-bg {
  background: #F2F2F2;
}

.header-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.menu li a {
  font-size: 1em;
  color: black;
  padding: 10px;
}

.menu li + li {
  margin-left: 10px;
}

.menu li:last-child a {
  color: white;
}

/*menu hamburguer*/
@media (max-width: 860px) {
  .menu {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .menu li + li {
    margin: 15px auto;
  }
}

/*intro*/
.intro {
  margin: 60px auto 30px auto;
  max-width: 1200px;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
}

.investir h1 {
  font-size: 2.625em;
  margin-bottom: 32px;
  font-weight: 500;
}

.investir > a {
  padding: 10px 50px;
  font-size: 1.25em;
}

.intro > img {
  margin: 0 auto;
}

@media (max-width: 860px) {
  .investir h1 {
    font-size: 2em;
  }

  .investir > a {
    padding: 10px 30px;
    font-size: 1em;
  }

  .intro {
    margin: 30px auto;
  }

  .intro img {
    width: 300px;
  }
}

/*investimentos*/
.invest-bg {
  background: #4455DD; 
}

.invest-container {
  margin: 0 auto;
  padding: 60px 20px;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.invest-item {
  /* margin: 0 auto; // adaptar */
  width: 220px;
  background: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0,0,0,.30);
}

.invest-item > h1, h2 {
  font-size: 1.25em;
  font-weight: 500;
}

.invest-item > h2 {
  color: #4455DD; 
}

.invest-item > h2:after {
  content: '';
  font-size: 0px;
  display: block;
  width: 40px;
  height: 2px;
  background: #DEDEDE;
  margin: 10px 0;
}

.invest-item > strong {
  font-size: 1em;
  font-weight: 500;
  color: #808080;
}

.invest-item > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #4455DD;
  color: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.30);
  margin-top: 20px;
}

@media (max-width: 1240px) {
  .invest-container {
    justify-content: center;
    padding: 30px 20px;
  }

  .invest-item {
    margin: 10px;
  }
}

/*vantagens*/
.vantagens {
  margin: 60px auto;
  max-width: 1200px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vantagens > h1 {
  font-size: 2.625em;
  font-weight: 500;
  text-align: center;
}

.vantagens-lista {
  margin: 30px auto 45px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.vantagem-item {
  margin: 0 auto;
  text-align: center;
  width: 370px;
}

.vantagem-item > h2 {
  font-size: 1.25em;
  font-weight: 500;
  margin-bottom: 10px;
}

.vantagem-item > p {
  font-size: 1em;
  font-weight: 500;
  color: #808080;
}

@media (max-width: 860px) {
  .vantagem-item {
    width: 280px;
  }

  .vantagens-lista {
    margin-top: 0px;
  }

  .vantagens-lista img {
    width: 200px;
  }

  .vantagens {
    margin: 30px auto;
  }

  .vantagens > h1 {
    font-size: 2em;
  }
}

/*blockquote*/
.quote {
  background: url(/assets/fotos/citacao.jpg) top center no-repeat;
  background-size: cover;
  padding: 100px 80px;
}

.quote img {
  position: relative;
  bottom: -130px;
  left: -15px;
}

.quote p {
  font-size: 2.625em;
  color: white;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 30px;
  max-width: 675px;
}

.quote cite {
  font-size: 1.25em;
  color: #C5C5C5;
  font-weight: 700;
  font-style: italic;
}

@media (max-width: 860px) {
  .quote {
    background-size: auto;
    padding: 0px 20px 100px 20px;
  }

  .quote img {
    width: 80px;
    bottom: -100px;
  }

  .quote p {
    font-size: 2em;
    max-width: 500px;
  }
}

@media (max-width: 480px) {
  .quote p {
    font-size: 1.8em;
  }
}

/*cadastro*/
.cadastro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.criar-conta {
  background: #F3F3F3;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 60px 0;
}

.criar-conta h1 {
  font-size: 2.625em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 40px;
}

.criar-conta form {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.criar-conta form label {
  font-size: 1.25em;
  margin-bottom: 10px;
}

.criar-conta form input {
  background: #DDDDDD;
  border: none;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 20px;
  outline-color: #4455DD;
}

.criar-conta form a {
  width: 220px;
  text-align: center;
  padding: 15px;
}

.icone {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  align-self: center;
}

.icone strong {
  font-size: 1.25em;
  font-weight: 500;
  margin-top: 20px;
}

@media (max-width: 860px) {
  .cadastro {
    grid-template-columns: 1fr;
  }

  .criar-conta {
    padding: 30px 0;
  }

  .criar-conta h1 {
    font-size: 2em;
    margin-bottom: 30px;
  }

  .icone strong {
    margin: 0 0 30px 0;
  }
}

@media (max-width: 480px) {
  .criar-conta form {
    width: 280px;
  }

  .criar-conta form a {
    width: 120px;
  }

  .icone img {
    width: 200px;
  }

  .icone strong {
    font-size: 1em;
  }
}

/*footer*/
.footer-bg {
  background: black;
}

.footer-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 950px) {
  .footer-container {
    justify-content: center;
  }

  .footer-item:last-child {
    margin-top: 40px;
  }
}

.footer-item {
  color: white;
}

.footer-item + .footer-item {
  margin-left: 50px;
}

@media (max-width: 860px) {
  .footer-item + .footer-item {
    margin-left: 0px;
    margin-top: 40px;
  }

  .footer-container {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .footer-container {
    align-items: start;
  }
}

.footer-item h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25em;
  color: #DDDDDD;
  margin-bottom: 20px;
}

/*menu-footer*/
.menu-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.menu-footer li + li {
  margin-right: 20px;
}

.menu-footer li a {
  color: #A5A2A2;
  font-size: 1em;
}

.menu-footer li a:before {
  content: '';
  font-size: 0px;
  padding: 1px 5px;
  background: #3B3B3B;
  margin-right: 4px;
  position: relative;
  bottom: 5px;
}

.menu-footer li a:hover:before{
  background: #4455DD;
}

/*redes*/
.redes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.redes li + li {
  margin-left: 20px;
}

/*sobre*/
.footer-item p {
  max-width: 350px;
  font-size: 1em;
  color: #A5A2A2;
}

/*direitos*/
.direitos-bg {
  background: #4455DD;
}

.direitos-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.direitos-container p {
  color: white;
  font-size: 1em;
}